@import "common.css";
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    background: linear-gradient(to bottom, var(--bg-color-primary-light), var(--bg-color-primary-dark)) center center fixed no-repeat;
    background-size: cover;
    font-family: var(--font-family-sans-serif);

}

#main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 20px 10px;

}



#main-header .nav-logo{
    width: 100px;
    height: 55px;
}

#main-header .nav-logo a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* header  logo finished*/
#main-header nav .nav-main{
    display: flex;
    margin: 0 5px;
}

#main-header nav .nav-main ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

#main-header nav .nav-main ul li {
    padding: 0 5px;
    margin: 0 10px;

}

#main-header nav .nav-main ul li a {
    position: relative;
    cursor: pointer;
    display: block;
    color: var(--gray);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    transition: all 0.3s ease-in;

}
#main-header nav .nav-main ul li a::before{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    background-color: var(--gray-dark);
    height: 1px;
}


#main-header nav .nav-main ul li:hover a{
    color: var(--gray-dark);

}

#main-header nav .nav-main ul li:hover a:before{
    width: 100%;
}

/* mobile menu header */
.nav-mobile-menu {
    height: 20px;
    width: 24px;
    display: none;
}
.nav-mobile-menu img {
    width: 100%;
    max-height: 100%;
    display: block;
}

.mobile-menu {
    padding: 0;
    display: none;
    width: 100%;
}

.mobile-menu.active {
    display: block;
}

.mobile-menu-main ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile-menu-main ul li a {
    position: relative;
    display: block;
    cursor: pointer;
    color: var(--gray);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    transition: all 0.3s ease-in;
}

.mobile-menu-main ul li:hover a {
    color: var(--gray-dark);
}

/* header mobile menu finished */

#main-section{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 10%;
}

#search-container{
    position: absolute;
    top: 20px;
    /*right: 20px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    z-index: 9999;
    flex-direction: column;
}

#search-container .change-buttons{
    display: flex;
    justify-content: space-between;
    padding: 5px;

}
.search-container-inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-input{
    font-size: 14px;
    padding: 10px 12px;
    border: 1px solid #C1C1C1;
    background-color: white;
    width: 22em;
    border-radius: 14px;
    transition: all .2s ease-in-out;

}
#search-input:hover{
    border-color: var(--gray-dark);
}
#search-button{
    position: absolute;
    width: 35px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    right: 0;
}
#search-button img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#main-section .main-section-content{
    margin: 10px 0;

}
/*#main-section .main-section-content iframe{*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*}*/

/* about us section */
#about-us{
    margin: 40px auto;
    display: flex;
    align-items: center;
}

#about-us .about-content{
    width: 60%;
}


#about-us .about-content h1{
    font-size: 2rem;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
    letter-spacing: 8px;
}

#about-us .about-content p{
    line-height: 1.8;
    font-size: 15px;
    color: var(--gray-dark);
    padding: 0 20px;
    text-indent: 40px;
}

#about-us .about-content-right-side{
    width: 35%;
}
#about-us .about-content-right-side .right-side-text{
    max-height: 300px;
    max-width: 100%;
    overflow: hidden;
    min-height: 100px;
    padding: 40px 0 20px 0;
    margin-top: 10px;
}

#about-us .about-content-right-side .right-side-text p{
    font-size: 18px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

#about-us .about-content-right-side .right-side-text h3{
    font-weight: 300 ;
    text-align: right;
    padding: 10px;
}



#about-us .about-img{
    width: 100%;
    display: flex;
}

#about-us .about-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

/*About us finished */

/*footer contact us */
#contactForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-header {
    text-align: center;
    margin-bottom: 30px;
}

.contact-header h2 {
    font-size: 2rem;
    color: var(--gray);
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-header p {
    font-size: 1.2em;
    color: #999999;
    margin-bottom: 20px;
    font-family: 'Verdana', sans-serif;
}

#contactForm label {
    font-size: 16px;
    color: #999999;
    margin-bottom: 5px;
    display: block;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    transition: all 0.3s ease;
}

#contactForm textarea{
    resize: none;
    padding: 5px;
    white-space: break-spaces;
}

#contactForm input[type="text"]:focus,
#contactForm input[type="email"]:focus,
#contactForm textarea:focus {
    border: 1px solid #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    outline: none;
}

#contactForm input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contactForm input[type="submit"]:hover {
    background-color: #0056b3;
}

#footer {
    padding: 50px 0;
    background-color: #e9ecef;

}

@media screen and (max-width: 600px) {
    #contactForm {
        padding: 15px;
    }
}

/*footer finished*/


/*media*/
@media(max-width: 480px){

    #search-container{
        padding: 0 !important;
        right: 0 !important;
    }
    #search-container .search-container-inner{
        margin: 0 15px 0 0;
        /*padding: 0 20px 0 0;*/
    }

    /*#search-input{*/
    /*    width: 12em;*/
    /*}*/

    /*#search-button{*/
    /*    right: 20px;*/
    /*}*/
    #about-us .about-content{
        width: 100%;
    }

    /*#about-us .about-content-right-side{*/
    /*    width: 100%;*/
    /*}*/
    /*#about-us .about-content-right-side .right-side-text{*/
    /*    padding: 40px 40px 20px;*/
    /*}*/
}

@media(max-width: 768px){
    #search-container{
        right: 30px !important;
        margin: 0 15px 0 0;
        padding: 0 20px 0 0;
    }

    #search-container .search-container-inner{
        /*margin: 0 15px 0 0;*/
        padding: 0 20px 0 0;
        /*right: 30px;*/
    }

    #search-input{
        width: 12em;
    }

    #search-button{
        right: 20px;
    }

    /*#about-us{*/
    /*    flex-direction: column;*/
    /*}*/

    /*#about-us .about-img{*/
    /*    width: 100%;*/
    /*}*/

    /*#about-us .about-content{*/
    /*    width: 80%;*/
    /*    margin-bottom: 20px;*/
    /*}*/

    #about-us .about-content-right-side{
        width: 100%;
    }
    /*#about-us .about-content-right-side .right-side-text{*/
    /*    padding: 40px 40px 20px;*/
    /*}*/
    *,::before,::after{
        scrollbar-width: auto;
    }
}


@media(max-width: 1024px){

    #search-container{
        right: 90px ;
    }

    #search-input{
        width: 15em ;
    }

    #about-us{
        flex-direction: column;
    }

    #about-us .about-img{
        width: 100%;
    }

    #about-us .about-content{
        width: 80%;
        margin-bottom: 20px;
    }

    #about-us .about-content-right-side{
        width: 90%;
    }
    #about-us .about-content-right-side .right-side-text{
        padding: 40px 40px 20px;
    }

}

@media(max-width: 1200px){
    #main-header{
        padding: 15px 10px 0;
    }
    #search-container{
        position: absolute;
        top: 20px;
        right: 90px;
        display: flex;
        /*flex-direction: column;*/
        margin: 0 20px 0 0;

    }
    /*#search-container .change-buttons{*/
    /*    display: flex;*/
    /*    justify-content: space-between;*/
    /*    padding: 5px;*/

    /*}*/

}