<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Haqqımızda</title>
    <link rel="shortcut icon" href="/images/clean.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header-container" id="main-header">
    <div class="nav-logo">
        <!--        <a href="#"><img th:src="@{/images/gerb.png}" alt="logo"></a>-->
        <a th:href="@{/}"><img th:src="@{/images/clean-darkline.png}" alt="logo"></a>
    </div>
    <nav>
        <div class="nav-main">
            <div class="lang-btns">
                <button class="lang-btn" onclick="translateToEnglish()">
                    <img src="/images/flag-eng.png" alt="English Flag" width="20" height="15">
                </button>
                <button class="lang-btn" onclick="translateToAzerbaijani()">
                    <img src="/images/flag-aze.png" alt="English Flag" width="20" height="15">
                </button>
            </div>
            <ul>
                <!--                <li class="log-d" ><a class="log-inner" target="_blank" th:href="@{/login}">Daxil ol</a></li>-->
                <li class="log-d"><a class="log-inner" id="head-main-btn" th:href="@{/}">Ana Səhifə</a></li>
                <li class="log-d"><a class="log-inner"  id="head-contact-btn"  th:href="@{/contact}">əlaqə</a></li>
            </ul>
            <div class="nav-mobile-menu" id="nav-mobile-menu">
                <img src="https://rvs-hosterr-waitlist-page.vercel.app/Assets/Hamburger-Menu.svg" alt="burger btn">
            </div>
        </div>
    </nav>

    <nav class="mobile-menu">
        <div class="mobile-menu-main">
            <ul>
                <li class="log-d"><a class="log-inner" target="_blank">Haqqımızda</a></li>
                <li class="log-d"><a class="log-inner" target="_blank">əlaqə</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <section class="container" id="about-us">
        <div id="about-me" class="about-author">
            <h2 id="idea-author-title">İdea və layihə müəllifi</h2>
            <p id="idea-author-description">Asif Sevindik oğlu Muradzadə 1969-cu ildə anadan olub. Əslən Qərbi Azərbaycanın Zəngəzur mahalının
                Qarakilsə rayonunun Ağdü kəndindəndir. Azərbaycan Texnologiya İnstitutunu və Azərbaycan Dövlət İqtisad
                Universitetini bitirmişdir. Azərbaycan Respublikası Dövlət Gömrük Komitəsində və Azərbaycan Respublikası
                Vergilər Nazirliyində müxtəlif vəzifələrdə işləmişdir. Hazırda Azərbaycan Respublikasının
                İqtisadiyyat Nazirliyi yanında Dövlət Vergi Xidmətinin Bakı şəhəri Lokal Gəlirlər Baş İdarəsinin
                əməkdaşıdır.
            </p>
        </div>
    </section>
</main>
<script src="/js/translateAbout.js"></script>
</body>
</html>