<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
<!--    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lfa1zEqAAAAAE-KScPnPI3Bg2qyBZ8fclzf4LhR"></script>-->
    <link rel="shortcut icon" href="/images/clean.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header-container" id="main-header">
    <div class="nav-logo">
        <a th:href="@{/}" ><img  th:src="@{/images/clean-darkline.png}" alt="logo"></a>
    </div>
    <nav>
        <div class="nav-main">
            <div class="lang-btns">
                <button class="lang-btn" onclick="translateToEnglish()">
                    <img src="/images/flag-eng.png" alt="English Flag" width="20" height="15">
                </button>
                <button class="lang-btn" onclick="translateToAzerbaijani()">
                    <img src="/images/flag-aze.png" alt="English Flag" width="20" height="15">
                </button>
            </div>
            <ul>
                <!--                <li class="log-d" ><a class="log-inner" target="_blank" th:href="@{/login}">Daxil ol</a></li>-->
                <li class="log-d"><a class="log-inner"  id="head-main-btn" th:href="@{/}">Ana Səhifə</a></li>
                <li class="log-d"><a class="log-inner"  id="head-about-btn" th:href="@{/about}">Haqqımızda</a></li>
            </ul>
            <div class="nav-mobile-menu" id="nav-mobile-menu">
                <img src="https://rvs-hosterr-waitlist-page.vercel.app/Assets/Hamburger-Menu.svg" alt="burger btn">
            </div>
        </div>
    </nav>

    <nav class="mobile-menu">
        <div class="mobile-menu-main">
            <ul>
                <li class="log-d"><a class="log-inner" target="_blank">Haqqımızda</a></li>
                <li class="log-d"><a class="log-inner" target="_blank">əlaqə</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <section>
        <div class="contact-header">
            <h2 id="contact-title">BİZİMLƏ ƏLAQƏ</h2>
            <p id="contact-description">Sorğunuzu aşağıdakı formu dolduraraq bizə göndərə bilərsiniz.<br> Tezliklə sizinlə əlaqə saxlayacağıq.
            </p>
        </div>

        <form id="contactForm" th:action="@{/api/v1/markers/contact/new}" method="post"
              enctype="application/x-www-form-urlencoded">
            <label for="name"  id="label-name">Ad:</label>
            <input type="text" id="name" name="name" required>

            <label for="surname" id="label-surname">Soyad:</label>
            <input type="text" id="surname" name="surname" required>

            <label for="email" id="label-email">E-poçt:</label>
            <input type="email" id="email" name="email" required>

            <label for="contactNumber" id="label-contactNumber">Əlaqə Nömrəsi:</label>
            <input type="text" id="contactNumber" name="contactNumber" required>

            <label for="description"  id="label-description">Mesajınız:</label>
            <textarea id="description" rows="5" cols="50" name="description" required></textarea>

            <div class="g-recaptcha" data-sitekey="6Lfa1zEqAAAAAE-KScPnPI3Bg2qyBZ8fclzf4LhR"></div>
            <p th:if="${captchaError}" th:text="${captchaError}"></p>
            <input type="submit" id="submit-button" value="Göndər">
        </form>
        <div id="message"></div>
    </section>
</main>


<!--<h1>Contact Us</h1>-->

<!--<form id="contactForm" th:action="@{/api/v1/markers/contact/new}" method="post"  enctype="application/x-www-form-urlencoded">-->

<!--    <label for="name">Name:</label><br>-->
<!--    <input type="text" id="name" name="name" required><br><br>-->

<!--    <label for="surname">Surname:</label><br>-->
<!--    <input type="text" id="surname" name="surname" required><br><br>-->

<!--    <label for="email">Email:</label><br>-->
<!--    <input type="email" id="email" name="email"  required><br><br>-->

<!--    <label for="contactNumber">Contact Number:</label><br>-->
<!--    <input type="text" id="contactNumber" name="contactNumber"  required><br><br>-->

<!--    <label for="description">Description:</label><br>-->
<!--    <textarea id="description" rows="5" cols="50" name="description" required></textarea><br><br>-->

<!--    <input  type="submit"  value="submit" />-->
<!--</form>-->
<!--<div id="message"></div>-->
<!--<script>-->
<!--    document.getElementById("contactForm").addEventListener("submit", function (event) {-->
<!--        event.preventDefault();-->

<!--        const formData = new FormData(event.target);-->

<!--        fetch("/api/v1/markers/contact/new", {-->
<!--            method: "POST",-->
<!--            body: formData-->
<!--        })-->
<!--            .then(response => {-->
<!--                if (!response.ok) {-->
<!--                    throw new Error('Network response was not ok');-->
<!--                }-->
<!--                return response.text();-->
<!--            })-->
<!--            .then(data => {-->
<!--                console.log("Success:", data);-->
<!--                document.getElementById("message").innerText = data;-->

<!--                setTimeout(() => {-->
<!--                    window.location.href = "/";-->
<!--                }, 2000);-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('Error:', error);-->
<!--                document.getElementById("message").innerText = "An error occurred. Please try again.";-->
<!--            });-->
<!--    });-->
<!--</script>-->
<script>
    document.getElementById("contactForm").addEventListener("submit", function (event) {
        event.preventDefault();

        const formData = new FormData(event.target);

        fetch("/api/v1/markers/contact/new", {
            method: "POST",
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                console.log("Success:", data);
                document.getElementById("message").innerText = data;

                setTimeout(() => {
                    window.location.href = "/";
                }, 2000);
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById("message").innerText = "An error occurred. Please try again.";
            });
    });


</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/js/translateContact.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
