<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qərbi Azərbaycan</title>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lfa1zEqAAAAAE-KScPnPI3Bg2qyBZ8fclzf4LhR"></script>
    <link rel="shortcut icon" href="/images/clean.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #map {
            height: 100vh;
            /*width: 100%;*/
        }

        .marker-label {
            padding-top: 30px;
            margin-top: 30px;
            text-align: center;
            text-shadow: -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<header class="header-container" id="main-header">
    <div class="nav-logo">
        <!--        <a href="#"><img th:src="@{/images/gerb.png}" alt="logo"></a>-->
        <a th:href="@{/}"><img th:src="@{/images/clean-darkline.png}" alt="logo"></a>
    </div>
    <nav>
        <div class="nav-main">
            <div class="lang-btns">
                <button class="lang-btn" onclick="translateToEnglish()">
                    <img src="/images/flag-eng.png" alt="English Flag" width="20" height="15">
                </button>
                <button class="lang-btn" onclick="translateToAzerbaijani()">
                    <img src="/images/flag-aze.png" alt="English Flag" width="20" height="15">
                </button>
            </div>
            <ul>
                <!--                <li class="log-d" ><a class="log-inner" target="_blank" th:href="@{/login}">Daxil ol</a></li>-->
                <li class="log-d"><a class="log-inner" id="head-about-btn"  th:href="@{/about}" >Haqqımızda</a></li>
                <li class="log-d"><a class="log-inner" id="head-contact-btn"  th:href="@{/contact}">əlaqə</a></li>
            </ul>
            <div class="nav-mobile-menu" id="nav-mobile-menu">
                <img src="https://rvs-hosterr-waitlist-page.vercel.app/Assets/Hamburger-Menu.svg" alt="burger btn">
            </div>
        </div>
    </nav>

    <nav class="mobile-menu">
        <div class="mobile-menu-main">
            <ul>
                <li class="log-d"><a class="log-inner" target="_blank">Haqqımızda</a></li>
                <li class="log-d"><a class="log-inner" target="_blank">əlaqə</a></li>
            </ul>
        </div>
    </nav>
</header>
<div id="loadingOverlay"
     style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); justify-content: center; align-items: center; z-index: 1000;">
    <p id="loading-text" style="color: white;">Yüklənir...</p>
</div>
<main>
    <section id="main-section">
        <div id="search-container" class="container">
            <div class="search-container-inner">
                <input type="text" id="search-input" placeholder="Axtarış...">
                <button id="search-button"><img th:src="@{/images/icons/search.svg}" alt="search"></button>
            </div>
            <div class="change-buttons">
                <button class="button_map" id="prev-button" style="display: none;">Əvvəlki</button>
                <button class="button_map" id="next-button" style="display: none;">Sonrakı</button>
            </div>
        </div>

        <div id="map" class="main-section-content">
        </div>
    </section>



    <section class="container" id="about-us">

        <div class="main-content">
            <div class="left-main-content">
                <p id="quote1">
                    “1918-ci ildə Azərbaycan Respublikasının ərazisi 114 min kv kilometr olub. İndi isə 86 min kv kilometrdir. Gör əlimizdən nə qədər torpaqlar gedib.”
                </p>
                <h3 id="author1">Heydər Əliyev</h3>
            </div>
            <div class="right-main-content">
                <p id="quote2">
                    “Əminəm ki, gün gələcək və Qərbi Azərbaycandan olan soydaşlarımız, onların yaxınları, uşaqları, nəvələri tarixi diyarımız olan Qərbi Azərbaycana qayıdacaqlar”.
                </p>
                <h3 id="author2">İlham Əliyev</h3>
            </div>
        </div>

        <div class="about-img">
            <img th:src="@{/images/img-map.png}" alt="map photo" id="imgModal">
        </div>


        <div class="about-content">
            <p id="about-text1">XX əsrdə Qərbi Azərbaycanda başlanmış soyqırımlar türk yaşayış məskənlərinin dağıdılması və bölgə
                əhalisinin erməniləşdirilməsi ilə nəticələndi. Bu, eyni zamanda, mədəniyyətimizə qarşı müharibə, çoxəsrlik
                irsimizə edilmiş qəsd idi. Viran qalan kəndlərimizlə bərabər toponimlərimiz, şəhərlərimizin və
                kəndlərimizin adı rəsmi olaraq dəyişdirildi, izlərimiz də torpaqlarımızdan silindi.</p> <br>

            <p id="about-text2"> Təqdim olunan layihəmiz dədə-baba yurdumuz olan Qərbi Azərbaycandakı mədəni-tarixi izlərimizin bərpasına və
                qorunmasına yönəlmişdir. Əsas məqsədimiz tarixi torpaqlarımızda erməni barbarlığı nəticəsində silinmiş
                toponimlərimizin bərpası ilə çoxəsrlik qan yaddaşının qaytarılması, gənc nəsildə bu istiqamətdə
                məlumatlılığın formalaşdırılması və beynəlxalq ictimaiyyətə həqiqətlərin çatdırılmasıdır. </p>
            <br>

            <p id="about-text4">44 günlük Vətən müharibəsində qazandığımız Zəfərdən və 23 saatlıq uğurlu anti-terror əməliyyatından sonra
                Qarabağımıza qovuşduğumuz kimi Qərbi Azərbaycanımıza da qovuşmağımızın bir addımlığındayıq.

                Təqdim etdiyimiz bu virtual xəritə dədə-baba torpaqlarımızdan didərgin düşən, deportasiyaya uğrayan və böyük
                faciələr yaşayan soydaşlarımız üçün onların qayıdışına işıq saça bilər. </p>
            <br>
            <p id="about-text3"> Biz diqqətdən yayınan
                toponimlərimizin yerləşdirilməsi və xəritədə ola biləcək hər hansı bir çatışmamazlıqla əlaqədar Qərbi
                Azərbaycandan olan soydaşlarımızı əməkdaşlığa dəvət edirik. </p>
            <br>

            <p id="about-text5">Son olaraq bu işdə əməyi keçən, bizə kömək edən hər bir şəxsə öz təşəkkürümüzü bildiririk!</p>
        </div>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="modalImage">
        </div>
<!--        <div id="about-me" class="about-author">-->
<!--            <h2>İdea və layihə müəllifi</h2>-->
<!--            <p>Asif Sevindik oğlu Muradzadə 1969-cu ildə anadan olub. Əslən Qərbi Azərbaycanın Zəngəzur mahalının Qarakilsə rayonunun Ağdü kəndindəndir. Azərbaycan Texnologiya İnstitutunu və Azərbaycan Dövlət İqtisad Universitetini bitirmişdir. Azərbaycan Respublikası Dövlət Gömrük Komitəsində və Azərbaycan Respublikası Vergilər Nazirliyində müxtəlif vəzifələrdə işləmişdir. Hal-hazırda Azərbaycan  Respublikasının İqtisadiyyat Nazirliyi yanında Dövlət Vergi Xidmətinin Bakı şəhəri Lokal Gəlirlər Baş İdarəsinin əməkdaşıdır.-->
<!--            </p>-->
<!--        </div>-->
    </section>



</main>
<footer id="footer">
    <p id="non-commercial-text">Sayt qeyri-kommersiya xarakterlidir. <br>
        Reklam xarakteri daşımır və heç bir ianə qəbul edilmir.</p>
    <!--    <div class="contact-header">-->
<!--        <h2>BİZİMLƏ ƏLAQƏ</h2>-->
<!--        <p>Sorğunuzu aşağıdakı formu dolduraraq bizə göndərə bilərsiniz.<br> Tezliklə sizinlə əlaqə saxlayacağıq.</p>-->
<!--    </div>-->

<!--    <form id="contactForm" th:action="@{/api/v1/markers/contact/new}" method="post"-->
<!--          enctype="application/x-www-form-urlencoded">-->
<!--        <label for="name">Ad:</label>-->
<!--        <input type="text" id="name" name="name" required>-->

<!--        <label for="surname">Soyad:</label>-->
<!--        <input type="text" id="surname" name="surname" required>-->

<!--        <label for="email">E-poçt:</label>-->
<!--        <input type="email" id="email" name="email" required>-->

<!--        <label for="contactNumber">Əlaqə Nömrəsi:</label>-->
<!--        <input type="text" id="contactNumber" name="contactNumber" required>-->

<!--        <label for="description">Mesajınız:</label>-->
<!--        <textarea id="description" rows="5" cols="50" name="description" required></textarea>-->

<!--        <div class="g-recaptcha" data-sitekey="6Lfa1zEqAAAAAE-KScPnPI3Bg2qyBZ8fclzf4LhR"></div>-->
<!--        <p th:if="${captchaError}" th:text="${captchaError}"></p>-->
<!--        <input type="submit" value="Göndər">-->
<!--    </form>-->
<!--    <div id="message"></div>-->
</footer>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3udL3KCDrHNVCo59XmW6p1ffm6RjVXPk&libraries=places,marker,streetView,visualization&callback=initMap"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!--<script src="/js/modal.js"></script>-->
<script src="/js/translate.js"></script>
<script src="/js/index.js"></script>
</body>
</html>